body{
	height: 100%;
	width: 100%;
	max-width: 1366px;
	margin: auto;
	background-color: #ECECEC;
	padding-left: 80px;
	padding-right: 80px;

}
.d-header{
	padding-top: 20px;
	height: 80px;
	
}
.logo{
	display: inline-block;
	vertical-align: middle;
	
}
.d-navbar{
	float: right;
	display: inline-block;
	vertical-align: middle;
	padding-top: 10px;

}

li{
	display: inline-block;
	padding-left: 70px;
}
.active{
	color: #2C2C2C;
	font-size: 17px;
	font-family: 'Montserrat', sans-serif;	
	font-weight: medium;

}
.menu{
	color: #2C2C2C;
	font-size: 17px;
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
}
.section1{
	display: inline-block;
	position: relative;
}
.img1{
	position: absolute;
	height: 324px;
	padding-left: 103px;
	display: inline-block;
}
.img2{
	position: absolute;
	height: 485px;
	padding-left: 618px;
	padding-top: 201px;
}
.img3{
	position: absolute;
	height: 227px;
	padding-top: 65px;
	padding-left: 1030px;
}
.text1{
	position: absolute;
	padding-top: 412px;
	display: inline-block;
}
h2{
	font-size: 25px;
}
p{
	margin-top: 30px;
	font-size: 14px;
}