body{
	height: 100%;
	width: 100%;
	max-width: 1366px;
	margin: auto;
	background-color: #ECECEC;
	padding-left: 80px;
	padding-right: 80px;

}
.d-header{
	padding-top: 20px;
	height: 80px;
	
}
.logo{
	display: inline-block;
	vertical-align: middle;
	
}
.d-navbar{
	float: right;
	display: inline-block;
	vertical-align: middle;
	padding-top: 10px;

}

li{
	display: inline-block;
	padding-left: 70px;
}
.active{
	color: #2C2C2C;
	font-size: 17px;
	font-family: 'Montserrat', sans-serif;	
	font-weight: medium;

}
.menu{
	color: #2C2C2C;
	font-size: 17px;
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
}